:root {
	--size: 80px;
}

body {
	margin: 0;
}

#game {
	position: relative;
	margin: 0 auto;
	border: 1px solid red;
	display: flex;
	justify-content: center;
}

#game canvas {
	width: 100%;
}

.game-arrow {
	border: 2px solid #034eb4;
	background-color: #eee8;
	border-radius: 50%;
	height: var(--size);
	padding: 0;
	position: absolute;
	width: var(--size);
}

.game-arrow.touched {
	background-color: #ffff;
}
.game-arrow.touched svg {
	stroke: #034eb4;
}

.game-arrow svg {
	stroke-linecap: round;
	stroke-width: 6px;
	stroke: #4791d9;
	pointer-events: none;
	width: calc(0.4 * var(--size));
}

.game-left-arrow {
	right: calc(10px + 10px + var(--size));
	bottom: 10px;
}
.game-right-arrow {
	right: 10px;
	bottom: 10px;
}
.game-up-arrow {
	left: 10px;
	top: calc(50% - var(--size) - 5px);
}
.game-down-arrow {
	left: 10px;
	top: calc(50% + 5px);
}

.game-left-arrow svg {
	transform: rotate(-45deg);
}
.game-right-arrow svg {
	transform: rotate(135deg);
}
.game-up-arrow svg {
	transform: rotate(45deg);
}
.game-down-arrow svg {
	transform: rotate(-135deg);
}

/*
  .share-game-button
    textBold()
    position absolute
    bottom 100px
    width 160px
    height 25px
    line-height 25px
    background rgba(255,255,255,0.7)
    cursor pointer
    &:hover
      background rgba(255,255,255,1)
    &.facebook
      left 220px
    &.twitter
      right 220px
 */
