:root {
	--size: 80px;
}

body {
	margin: 0;
}

#game {
	position: relative;
	/* border: 1px solid red; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	object-fit: contain;
}

#game canvas {
	width: 100%;
}

.game-arrow {
	border: 2px solid #034eb4;
	background-color: #eee8;
	border-radius: 50%;
	height: var(--size);
	padding: 0;
	position: absolute;
	width: var(--size);
}

.game-arrow.touched {
	background-color: #ffff;
}
.game-arrow.touched svg {
	stroke: #034eb4;
}

.game-arrow svg {
	stroke-linecap: round;
	stroke-width: 6px;
	stroke: #4791d9;
	pointer-events: none;
	width: calc(0.4 * var(--size));
}

.game-left-arrow {
	right: calc(10px + 10px + var(--size));
	top: calc(50% - var(--size) / 2);
}
.game-right-arrow {
	right: 10px;
	top: calc(50% - var(--size) / 2);
}
.game-up-arrow {
	left: 10px;
	top: calc(50% - var(--size) - 5px);
}
.game-down-arrow {
	left: 10px;
	top: calc(50% + 5px);
}

.game-left-arrow svg {
	transform: rotate(-45deg);
}
.game-right-arrow svg {
	transform: rotate(135deg);
}
.game-up-arrow svg {
	transform: rotate(45deg);
}
.game-down-arrow svg {
	transform: rotate(-135deg);
}
